<%- include('header'); -%>
    <form class="form-signin" action="/" method="POST">
      <div class="text-center form-group mb-4">
       <img class="mb-4" src="/img/to-do-list.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">ToDo-List User Panel</h1>
      </div>

      <div class="form-label-group">
        <input
          type="text"
          id="inputEmail"
          name="inputEmail"
          class="<%=`form-control ${isError ? 'is-invalid':''}`%>"
          placeholder="Username"
          required
          autofocus
        />
        <label for="inputEmail">Username</label>
      <div class="invalid-feedback">
      Please enter correct information!!!.
    </div>
      </div>

      

      <div class="form-label-group">
        <input
          type="password"
          id="inputPassword"
          name="inputPassword"
          class=" <%=`form-control ${isError ? 'is-invalid':''}`%>"
          placeholder="Password"
          required
        />
        <label for="inputPassword">Password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <%= button1%>
      </button>
      
      <p class="mt-5 mb-3 text-muted text-center">&copy; Erdinç Demirok 2019</p>
    </form>
  <%- include('footer'); -%>